$light-grey:           #cacad7;
$light-gray:           #ccd1d8;
$white:                #ffffff;
$light-sky-blue:       #93aafb;
$ghost-white:          #f6f8fc;
$white-smoke:          #eef2f9;
$corn-flower-blue:     #73aef8;
$light-slate-grey:     #8e8ea7;
$plum:                 #dda0bc;
$burly-wood:           #f2c193;
$palevioletred:        #d875a4;
$medium-aqua-marine:   #7ad2b9;
